@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* OVERALL BODY CSS */
.app-container {
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  background-repeat: repeat-y;
}

h1 {
  font-size: 72px;
  font-family: 'Permanent Marker', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19vh;
  margin-bottom: 2vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 75px;
}

a {
  margin-right: 7px;
  margin-left: 7px;
}

h3 {
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#break {
  flex-basis: 100%;
  height: 0;
}

/* FOOTER CSS */

#recordButton {
  transform: scale(0.8);
  height: 50px;
  background-color: transparent;
  border: none;
}

#cassetteButton {
  transform: scale(0.8);
  height: 50px;
  background-color: transparent;
  border: none;
}

#cdButton {
  transform: scale(0.8);
  height: 50px;
  background-color: transparent;
  border: none;
}

#greyButton {
  transform: scale(0.8);
  height: 50px;
  background-color: transparent;
  border: none;
}

button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  height: 6.5rem;
}

button:hover {
  cursor: pointer;
}

.site-footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 32, 32);
  text-align: center;
  justify-content: flex-end;
}

#createdBy {
  display: flex;
  margin-inline-end: auto;
  margin-inline-start: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* SEARCH & LYRICS CSS */

#form.Control {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#artistSearch {
  width: 500px;
  border: none !important;
}

.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#artistSearch:focus {
  border: none !important;
  box-shadow: none !important;
}

#songSearch:focus {
  border: none !important;
  box-shadow: none !important;
}

#songSearch {
  width: 500px;
  border: none !important;
  margin-top: 12px;
}

#lyrics {
  text-align: center;
  background-color: white;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 70px;
}

/* NAV BAR CSS */

.nav-ul {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-inline-start: 30%;
  margin-inline-end: 30%;
}

.navlink-change {
  background: transparent;
  color: black;
}

/* ABOUT US CSS */

h2 {
  font-size: 72px;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
  margin: 0px;
  width: 100%;
}

#about-lyrically {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#about-kis {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
  justify-content: center;
}

#about-ben {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
  justify-content: center;
}

#about-wyncoders {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.break {
  display: flex;
  flex-basis: 100%;
  height: 0;
}

.aboutUsContainer {
  text-align: center;
  background-color: white;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 70px;
}
